/* General styles */
body {
    background-color: #222;
    color: #eee;
    font-family: Arial, sans-serif;
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding-left: 24px;
}

nav ul li {
    margin: 0px 20px;
}

nav ul li a {
    text-decoration: none; /* Remove underline from links */
    color: #fff;
    padding: 10px 15px; /* Padding around links */
    display: block; /* Make the link fill the list item */
}

nav ul li a:hover {
    background-color: #ddd; /* Change background on hover */
    color: #000; /* Link color on hover */
}

footer {
    position: relative;
    bottom: 0px;
}

/* Post styles */
.post {
    border: 1px solid #444;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    background-color: #333;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.post-content {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ccc;
}

.post-footer {
    font-size: 12px;
    color: #888;
}

.user-id {
    margin-right: 15px;
}

.created-at {
    color: #999;
}

/* Remove underline decoration for links */
.clickable-post {
    text-decoration: none;
    color: inherit; /* Inherit color from parent */
}

/* Form styles */
#create-post {
    padding-top: 20px;
}

form {
    display: flex;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #444;
    color: #eee;
}

button {
    padding: 10px;
    background-color: #444;
    color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}