{% extends "base.html" %}

{% block title %}Home - My Social Media App{% endblock %}

{% block content %}
<section>
  <h2>About</h2>
  <p>
    This is a learning project for an API, simulating to be a social media platform where users can create and share posts.
  </p>
  <p>
    This just acts as a basic frontend, that will be updated over time but my focus for the moment is on the backend, it was constructed using FastAPI includes CRUD operations, schema validations and authentication.
  </p>
  <p>
    Please check the interactive <a href="/docs#" target="_blank" rel="noreferrer noopener">documentation</a> for developers.
  </p>
  <p>
    Also you can check the source code at my <a href="https://github.com/VillaSebastian/fastAPI-social-media">github</a>.
  </p>
</section>
{% endblock %}